In [1]:
import pickle
import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow.keras.models import load_model

In [2]:
## Load the trained model, scaler pickle, onehot
model = load_model('model.h5')

## load the encoder and scaler
label_encoder_geo = pickle.load(open('label_encoder_gender.pkl','rb'))
ohe_gender = pickle.load(open('onehot_encoder_geography.pkl','rb'))
scaler = pickle.load(open('standarscaler.pkl','rb'))

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
# Example the data
input_data = {
    'CreditScore' : 600,
    'Geography' : 'France',
    'Gender' : 'Male',
    'Age' : 40,
    'Tenure' : 3,
    'Balance' : 60000,
    'NumOfProducts' : 2,
    'HasCrCard' : 1,
    'IsActiveMember' : 1,
    'EstimatedSalary' : 50000
}

In [4]:
# one hot encoder
geo_encode = ohe_gender.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encode,columns=ohe_gender.get_feature_names_out(['Geography']),dtype=int)
geo_encoded_df

c:\Users\sharma011\Documents\aiml\code\Deep Learning Project Using ANN\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0                 1                  0                0

In [5]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [6]:
## Encode categorical variables
input_df['Gender'] = label_encoder_geo.transform(input_df['Gender'])

In [7]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [8]:
# Combine one-hot encoded columns with input data
input_df = pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [9]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1,0,0

In [10]:
scaler.get_feature_names_out()

array(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [11]:
##  Scaling the input data
input_scaled = scaler.transform(input_df)

In [12]:
## Prediction churn
prediction = model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 326ms/step

In [13]:
prediction_proba = prediction[0][0]

In [14]:
prediction_proba

np.float32(0.039705288)

In [15]:
if prediction_proba > 0.5:
    print("The Customer is likely to churn.")
else:
    print("The customer is not likely tochurn.")

The customer is not likely tochurn.

In [16]:
prediction

array([[0.03970529]], dtype=float32)

In [18]:
prediction[0][0]

np.float32(0.039705288)